<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/pure-min.css">
  </head>
  <body>
  <div class="wrapper">
    <div class="recipe">
      <h1><%= @title %></h1>
      <div class="github">
        <a class="pure-button" href="https://github.com/Maimer/recipe_box">View Github Repo!</a>
      </div>
      <ul class="pure-paginator">
        <% for i in ("A".."Z") %>
          <li class="pure-button"><a href="/recipes?page=<%= i %>"><%= i %></a></li>
        <% end %>
      </ul>
    </div>

      <%= yield %>

    </br>
    </br>
    </br>
  </div>
  </body>
</html>
