<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/pure-min.css">
  </head>
  <body>
  <div class="wrapper">
    <h1><%= @title %></h1>
      <ul class="pure-paginator">
        <% for i in ("A".."Z") %>
          <li class="pure-button"><a href="/recipes?page=<%= i %>"><%= i %></a></li>
        <% end %>
      </ul>
    </br>

      <%= yield %>

    </br>
    <p>Created by: <a href="https://github.com/Maimer/">Nicholas Lee</a></p>
    <p><a href="https://github.com/Maimer/recipe_box">Github Repo</a></p>
    </br>
    </br>
    </body>
  </div>
</html>
